body {
    width: 100%;
    background-color: #F59CA9;
}

h1 {
    width: 100%;
    text-align: center;
}

.timer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid whitesmoke;
}

.time {
    margin-top: 20px;
    border-radius: 5px;
    width: 50%;
    height: 20%;
    background-color: whitesmoke;
    height: 20px;
    border: #A03E99 2px solid;
    
}